/* Changment de couleur sur l'ensemble */
body {
    background-color: rgb(159, 233, 233);
}
#tarifs{
    background-color: rgb(136, 136, 167);
    color: gold;
}

.product{
    width: 50%;
    background-color: aqua;
}

.product img{
    width: 100%;
}